{% extends "base.html"%} {%block title%}Vault{%endblock%}
{% block content %}
<div class="container ">
    <form id="form-group-password-update" method="POST">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="titoloGroupUpdate" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="titoloGroupUpdate" name="titoloGroupUpdate"
                       value="{{ cred['TIT_GROUP'] }}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="urlGroupUpdate" class="form-label">Url</label>
                <input type="text" class="form-control" id="urlGroupUpdate" name="urlGroupUpdate" value="{{ cred['URL_GROUP'] }}">
            </div>
        </div>
        <div class="mb-3 col-md-12">
            <label for="emailGroupUpdate" class="form-label">Email</label>
            <div class="input-group">
                <input type="text" class="form-control" id="emailGroupUpdate" name="emailGroupUpdate"
                       value="{{ cred['EMAIL_GROUP'] }}">
                <button class="input-group-text" id="copyEmail" onclick="copyEmailToClipboard()"><i
                        class="bi bi-copy"></i></button>
            </div>

        </div>
        <div class=" mb-3 col-md-12">
            <label for="pwdGroupUpdate" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control pwd" name="pwdGroupUpdate" id="pwdGroupUpdate"
                       value="{{ cred['PASSWORD_GROUP'] }}">
                <button type="button" class="input-group-text reveal" id=""><i class="bi bi-eye-fill"></i></button>
                <button type="button" class="input-group-text" id="copyPwd" onclick="copyPassToClipboard()"><i class="bi bi-copy"></i>
                </button>
            </div>
        </div>
        <div class="mb-3 col-md-12">
            <label for="noteGroupUpdate" class="form-label">Note</label>
            <input type="text" class="form-control" id="noteGroupUpdate" name="noteGroupUpdate" value="{{ cred['NOTE_GROUP'] }}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{url_for('vault.create_group')}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                        </svg>
                    </a>
                </div>
                <div class="col-10"></div>
                <div class="col">
                    <button type="submit" class="btn btn-primary m-1" name="update-pwd">Modifica</button>
                </div>
            </div>
        </div>

        <input type="hidden" name="password-group-id" id="password-group-id" value="{{cred['ID_CREDG']}}">
    </form>
</div>

{%endblock%}