{% extends "base.html"%} {%block title%}Password Checker{%endblock%}
{% block content %}
<div>
    <div class="pwnedText p-4">
        <div class="container">
            <h1>Password compromesse</h1>
            <p>Le Password compromesse sono centinaia di milioni di password del mondo reale precedentemente esposte in
                violazioni di dati. Questa esposizione le rende inadatte per un utilizzo continuato, poiché sono a
                rischio molto maggiore di essere utilizzate per assumere il controllo di altri account. Sono cercabili
                online qui sotto e scaricabili per l'uso in altri sistemi online. Leggi ulteriori dettagli su come HIBP
                protegge la privacy delle password cercate.</p>
        </div>
    </div>
    <div class="pwnedForm">
        <div class="container p-4">
            <form method="post">
                <div class="input-group">

                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                           required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-dark btn-lg">Pwned?</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pwnedContainer text-center">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'pwned' %}
        <div class="pwned p-4">
            <div class="container ">
                <h2>{{ message }}</h2>
                <h1><i class="bi bi-emoji-astonished"></i></h1>
            </div>
        </div>
        {% elif category == 'secure' %}
        <div class="secure p-4">
            <div class="container">
                <h2>{{ message }}</h2>
                <h1><i class="bi bi-emoji-smile"></i></h1>
            </div>
        </div>
        {% else %}
        <div class="error">
            <div class="container">
                <h2>{{ message }}</h2>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </div>


    <div class="pwnedInfo p-3">
        <div class="container" id="PwnedPasswords">


            <hr>
            <h3>Sicurezza Credenziali: Proteggi i Tuoi Account con Noi!</h3>
            <p>
                Hai mai pensato a quanto sia sicura la tua password? Con il crescente numero di violazioni dei dati, è
                più importante che mai proteggere i tuoi account online. Il nostro servizio di controllo credenziali è
                la chiave per mantenere al sicuro le tue informazioni personali.
                <br><br>

                Il riutilizzo delle password è un rischio comune, ma con noi puoi scoprire se le tue credenziali sono
                state coinvolte in precedenti violazioni dei dati. Analizziamo la sicurezza delle tue password e ti
                avvisiamo se è necessario apportare modifiche per proteggere i tuoi account.
                <br><br>
                Il credential stuffing è una minaccia sempre crescente, ma non devi preoccuparti. Utilizzando la nostra
                avanzata tecnologia, monitoriamo costantemente le tue credenziali e identifichiamo potenziali attacchi
                prima che possano danneggiare i tuoi account.
                <br><br>
                Metti la sicurezza al primo posto. Con il nostro servizio di controllo credenziali, hai il potere di
                proteggere ciò che è più importante per te. Iscriviti oggi e dormi sonni tranquilli sapendo che stiamo
                lavorando per garantire la sicurezza dei tuoi dati online.
            </p>
            <hr>
            <h3>Riutilizzo delle password e riempimento delle credenziali</h3>
            <p>
                Il riutilizzo delle password è normale. È estremamente rischioso, ma è così comune perché è facile e le
                persone non sono consapevoli dell'impatto potenziale. Gli attacchi come il <a
                    href="https://www.troyhunt.com/password-reuse-credential-stuffing-and-another-1-billion-records-in-have-i-been-pwned/">credential
                stuffing</a> approfittano delle credenziali riutilizzate automatizzando i tentativi di accesso ai
                sistemi utilizzando coppie di email e password conosciute.
            </p>

            <h3>API</h3>
            <p>
                Il servizio di controllo integrità password è fornito da <a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a>.<br>
                Tutta la documentazione al seguente link <a href="https://haveibeenpwned.com/API/v3#PwnedPasswords">https://haveibeenpwned.com/API/v3#PwnedPasswords</a>.
            </p>

        </div>
    </div>


</div>
{% endblock %}