{% extends "base.html"%} {%block title%}Password Generator{%endblock%}
{% block content %}
<div class="password-generator-container pb-5">
    <div class="password-generator-head">

        <div class="container text-center">
            <div class="row">
                <div class="col align-self-start">

                </div>
                <div class="col-6 align-self-center p-5">
                    <h2>Hai bisogno di una password sicura? Ti aiuterà Passbox, il generatore di password complesse.
                        Provalo
                        subito!</h2>
                </div>
                <div class="col align-self-end">

                </div>
            </div>
        </div>

    </div>

    <div class="password-generator-body">
        <div class="container">
            <div class="row">
                <div class="col align-self-start">

                </div>
                <div class="col-6 align-self-center mt-3">
                    <form>
                        <div class="mb-3 mt-3">
                            <label for="generated-password" class="form-label fs-5">Password generata:</label>
                            <input type="text" class="text-center fs-2 form-control form-control-lg generated-password"
                                   id="generated-password"
                                   placeholder="">
                        </div>
                    </form>

                </div>
                <div class="col align-self-end">

                </div>
            </div>
        </div>
    </div>

    <div class="password-generator-buttons">
        <div class="container">
            <div class="row">
                <div class="col align-self-start">

                </div>
                <div class="col-6 align-self-center mt-2">
                    <div class="row p-2">
                        <div class="col">
                            <button type="submit" form="password-generator" class="btn w-100 ">Genera password
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn  w-100 " onclick="copyGeneratedPass()">Copia password</button>
                        </div>
                    </div>
                </div>
                <div class="col align-self-end">

                </div>
            </div>
        </div>
    </div>

    <div class="password-generator-form">
        <div class="container">
            <div class="row">
                <div class="col align-self-start">

                </div>
                <div class="col-6 align-self-center mt-2">
                    <form id="password-generator">
                        <div class="row">
                            <div class="col">
                                <h6><label for="lenght" class="form-label">Lunghezza</label></h6>
                                <input type="number" class="form-control" name="lenght" id="lenght" value="12">
                            </div>
                            <div class="col">
                                <h6><label for="nums" class="form-label">Numeri</label></h6>
                                <input type="number" class="form-control" name="nums" id="nums" value="3">
                            </div>
                            <div class="col">
                                <h6><label for="special" class="form-label">Caratteri speciali</label></h6>
                                <input type="number" class="form-control" name="special" id="special" value="2">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col align-self-end">

                </div>
            </div>

        </div>
    </div>
</div>

<div class="password-generator-content">
    <div class="container mt-5">
        <h2 class="text-center">Cosa rende una password sicura e complessa?</h2>
    </div>
    <div class="container">
        <div class="row mt-5 pb-5">
            <div class="col-6">
                <h3>Le password complesse sono uniche e casuali.</h3>
                <p>Gli esseri umani non sono molto bravi a inventare password che soddisfino uno di questi requisiti,
                    figuriamoci entrambi. Per questo abbiamo creato il generatore di password sicure di Passbox, per
                    creare password complesse e facili da ricordare per te. L'81% delle violazioni dei dati è causato da
                    password utilizzate più volte o troppo deboli, quindi le password univoche e casuali sono la
                    migliore difesa contro le minacce online.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <img src="https://1password.com/img/redesign/password-generator/laptop.84e23294b9912d010a39b02321119b98.svg"
                     class="o-image u-order-1 u-order-2@lg u-mb-8 u-mb-0@lg u-mx-auto u-ml-0@sm"
                     alt="Laptop con un campo della password visibile e uno scudo con un lucchetto in primo piano">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="text-center">Le password da che elementi devono essere composte?</h2>
    </div>
    <div class="container">
        <div class="row mt-5 pb-5">
            <div class="col-4">
                <img src="https://1password.com/img/redesign/password-generator/generator.bc352f7aee8e7117714fca560b38adfa.svg"
                     class="o-image u-order-1 u-order-2@lg u-mb-8 u-mb-0@lg u-mx-auto u-ml-0@sm"
                     alt="Laptop con un campo della password visibile e uno scudo con un lucchetto in primo piano">

            </div>
            <div class="col-2"></div>
            <div class="col-6">
                <h3>La composizione delle password</h3>
                <p>La creazione di password sicure è fondamentale per proteggere i tuoi account online.
                    Quando imposti una password, considera l'utilizzo di frasi di accesso (passphrase)
                    anziché singole parole, in modo da renderla più complessa e memorabile. Introduce
                    variazioni sostituendo alcune lettere con caratteri speciali e evita sequenze ovvie.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}