html,
body {
    height: 100%;
}

body{
    margin-top:20px;

}
.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #3B3B3B;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}
a.card {
    text-decoration: none;
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #3B3B3B;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #3B3B3B;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    color:#3B3B3B
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pwnedText {
    background-color: rgba(58, 154, 196, .5)
}

.pwnedForm {
    background-color: rgba(46, 130, 167, .5);
}

.pwnedInfo {
    background-color: #191919;
}

.pwnedInfo p {
    color: white;
}

.pwnedInfo h3 {
    color: white;
}

.pwned {
    height: 12rem;
    background-color: #ba4343;
}

.secure {
    height: 12rem;
    background-color: #348f38;
}

.pwnedContainer h2 {
    color: white;
}

.card-custom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.generated-password {
    font-family: Courier Prime Bits, monospace;
}

.password-generator-container {
    background-color: #0a2d4d;
    color: white;
}

.password-generator-container button {
    --bs-btn-bg: #4894e9;
}

.card-custom-footer a {
    --bs-btn-bg: #4894e9;
}

tr {
    height: 64px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 10px;

}

li > a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;

}

li > a:hover::after, li > a.active-nav::after {
  width: 100%;
  background: white;
}
